*{
    
    border: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

body{
    
    padding-top: 20px;
    background-color: black;
    
}

.content{
    
    display: flex;
    gap: 40px;

}

img{
    
    height: 170px;
    width: 170px;
    border-radius: 15%;
    
}

.name{
    
    color: white;
    font-size: 36;
    
}

.bio{
    
    color:white; 
    
}

#a{
    
    text-decoration: none;
    color:white;
    
}

.one{
    
    width: 350px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(47, 47, 47, 0.72);
    
}

.data{
    
    display: flex;
    gap: 10px;
    
}

.field{
    
    display: flex;
    gap: 33px;
    
}

#a1{
    
    text-decoration: none;
    
}

.msg{
    
    width: 200px; 
    height: 45px;
    border-radius: 25px;
    background-color: #D9D9D9;
    
}

.one:hover{
    
    background-color: black;
    border: 3px solid  rgba(47, 47, 47, 0.72);
    
}

.one:hover p{
    
    color: rgba(47, 47, 47, 0.72);
    
}

.msg:hover {
    
    background-color: white;
    
}

footer {
    
    color: white;
}

.icon i{
    
    color: white;
    
}

.icon {
    
    transition: transform 0.3s ease;
    
}

.icon:hover {
    
    transform: scale(1.2); 
    
}
